button
  display: block
  margin: 10px 0

h1
  color: tomato

textarea
  width: 400px
  height: 200px
  display: block
  margin-top: 16px

.box
  width: 400px
  height: 200px
  margin-top: 16px
  font-size: 14px
  background: #eee